{
    "extends": [
        "wesbos"
    ],
    "rules": {
        "global-require": "off",
        "import/no-extraneous-dependencies": "off",
        "no-restricted-globals": "off",
        "no-shadow": "off",
        "no-undef": "off"
    }
}
