{
    "overrides": [
        {
            "files": [
                "*.blade.php"
            ],
            "options": {
                "parser": "blade",
                "tabWidth": 4
            }
        }
    ],
    "plugins": [
        "@shufo/prettier-plugin-blade"
    ],
    "sortHtmlAttributes": "code-guide",
    "sortTailwindcssClasses": true,
    "wrapAttributes": "force-expand-multiline"
}

